palette-display {
    font-size: 1.5em;
}

palette-display span {

}

/*.color-bubble md-tooltip {*/
/*font-size: .5em;*/
/*}*/

.color-bubble .large {
    width: 3em;
    height: 3em;
    margin: .6em;
}

.color-bubble {
    /*font-size: 1.5em;*/
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    margin: .3em;
}

.color-box {
    width: 100%;
    flex: 1;
    min-height: 500px;
}

.percent-color-line {
    height: 5px;
    width: 100%;
}

.color-indicator {
    font-size: 1.3em;
    display: inline-block;
    position: absolute;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

/*.additive-slider-container md-slider .md-track.md-track-fill {*/
/*background-color: inherit;*/
/*}*/