palette-display {
    font-size: 1.5em;
}

palette-display span {

}

/*.color-bubble md-tooltip {*/
    /*font-size: .5em;*/
/*}*/

.color-bubble {
    /*font-size: 1.5em;*/
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    margin-right: .3em;
    margin-left: .3em;
}

.color-box {
    width: 100%;
    flex: 1;
    min-height: 500px;
}

.percent-color-line {
    height: 5px;
    width: 100%;
}

/*.additive-slider-container md-slider .md-track.md-track-fill {*/
    /*background-color: inherit;*/
/*}*/