<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="app.css">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

    <script src="app.js"></script>
</head>
<body ng-app="colorApp">
<md-content ng-controller="mainController" layout-fill>
    <h1>Header Placeholder</h1>
    <md-tabs class="md-primary" md-selected="selectedTabIndex" layout-fill>
        <md-tab id="palette">
            <md-tab-label>Pick Palette</md-tab-label>
            <md-tab-body>
                <md-content layout="column" layout-padding layout-fill>
                    <div layout="row">
                        <palette-display layout="row" layout-align="start center" title="'Current Palette'"
                                         palette="currentPalette" editable="'true'"></palette-display>
                        <md-select ng-model="currentColorSpace">
                            <md-option value="additive"> Additive</md-option>
                            <md-option value="subtractive"> Subtractive</md-option>
                        </md-select>
                    </div>
                    <color-picker layout="column" color-space="currentColorSpace"
                                  save-color='addColorToPalette(color)'></color-picker>
                    <md-list flex>
                        <!--<md-subheader class="md-no-sticky">3 line item (with hover)</md-subheader>-->
                        <md-list-item ng-repeat="paletteContainer in premadePalettes"
                                      ng-click="selectPremadePalette($index)">
                            <!--<div></div>-->
                            <palette-display layout="row" layout-align="start center" title="paletteContainer.name"
                                             palette="paletteContainer.palette"></palette-display>
                            <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}"/>-->
                            <!--<div class="md-list-item-text" layout="column">-->
                                <!--<h3>{{ item.who }}</h3>-->
                                <!--<h4>{{ item.what }}</h4>-->
                                <!--<p>{{ item.notes }}</p>-->
                            <!--</div>-->
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-tab-body>
        </md-tab>
        <md-tab id="mixer">
            <md-tab-label>Mixer</md-tab-label>
            <md-tab-body md-padding>
                <color-mixer color-space="currentColorSpace" palette="currentPalette"></color-mixer>
            </md-tab-body>
        </md-tab>
        <md-tab id="game">
            <md-tab-label>Game</md-tab-label>
            <md-tab-body md-padding>
                <md-select ng-model="gameDifficulty">
                    <md-option value="0"> Easy</md-option>
                    <md-option value="1"> Medium</md-option>
                    <md-option value="2"> Hard</md-option>
                    <md-option value="3"> Very Hard</md-option>
                </md-select>
                <mixing-game palette="currentPalette" color-space="currentColorSpace"
                             difficulty="gameDifficulty"></mixing-game>
                <!--<color-mixer color-space="currentColorSpace" palette="currentPalette"></color-mixer>-->
            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>
</body>
</html>
